.loading {
  height: 100dvh;
  width: 100dvw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  gap: 10px;
}

.letters-wrapper {
  display: flex;
}

.letters-wrapper img {
  animation: loading-key 5s linear infinite;
}


.img-wrapper {
  display: flex;
}

.img-wrapper img {
  display: block;
  animation: loading-img 3s infinite linear;
  max-width: 100px;
  max-height: 100px;
}

@keyframes loading-key {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
}