.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  display: flex;
}

.loading img {
  display: block;
  animation: loading-key 3s infinite linear;
  max-width: 100px;
  max-height: 100px;
  width: 200px;
}

@keyframes loading-key {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
}